:root{
  --header-height: 80px; /* agar header ki height alag ho to yahan change karo */
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

.hero-section {
  
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(90deg, #e1f3d8 0%, #f8deb4 50%, #f8d4c8 100%);
}

.hero-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  color: #202020;
}

.hero-left p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 530px;
  color: #555;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn-shop {
  background: #1e90ff;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-shop:hover {
  background: #1678d6;
}

.btn-learn {
  background: white;
  padding: 12px 26px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

.btn-learn:hover {
  background: black;
  color: white;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 95%;
  max-width: 550px;
  object-fit: contain;
}


/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 38px;
  }

  
  
}
